<!-- <header id="Header">
    <div class="container-fluid">
      <nav class="navbar sticky-top navbar-light bg-light cyan-text py-3 main-nav navbar-fixed-top">
        <div class="container-fluid">
          <div class="block-sitebranding">
          <a class="navbar-brand " href="#"><img src="/assets/img/logo.jpg" alt="Cellworks" style="max-height: 65px;width:80px" ></a>
          </div>
            <div id="navbarSupportedContent" *ngIf="currentUser!=null && currentUser!=''">
              <ul class="navbar-nav ml-auto">
                <li class="nav-item">
                  <a class="nav-link  text-uppercase" title="Logout" (click)="logOutUser()"><button class="btn"><i class="fa fa-power-off fa-2x" ></i></button>
                  </a>
                </li>
              </ul>
            </div>
        </div>
      </nav>
    </div> 
  </header> -->
  <nav  class="navbar navbar-expand-sm bg-dark navbar-dark">
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#nav-content" aria-controls="nav-content" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
          </button>
          
          <!-- Brand -->
          <a class="navbar-brand" href="#">Logo</a>
          
          <!-- Links -->
          <div class="collapse navbar-collapse" id="nav-content">   
          <ul class="navbar-nav">
          <li class="nav-item">
          <a class="nav-link" href="#">Link 1</a>
          </li>
          <li class="nav-item">
          <a class="nav-link" href="#">Link 2</a>
          </li>
          <li class="nav-item">
          <a class="nav-link" href="#">Link 3</a>
          </li>
          <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" data-toggle="dropdown" id="Preview" href="#" role="button" aria-haspopup="true" aria-expanded="false">
              Dropdown
              </a>
              <div class="dropdown-menu" aria-labelledby="Preview">
              <a class="dropdown-item" href="#">Dropdown Link 1</a>
              <a class="dropdown-item" href="#">Dropdown Link 2</a>
              <a class="dropdown-item" href="#">Dropdown Link 3</a>
              </div>
              </li>
          </ul>
          </div>
      
    </nav> 